.face{
    /* background-color: red !important; */
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0rem 1rem;
    /* background-color: var(--bg-color); */
}
.face-head{
    width: 100%;
    /* background-color: yellow; */
    text-align: center;
}
.face-head h3{
    color: var(--color-heading);
    text-decoration: underline;
}
.face-head p{
    color: #ff4545;
    font-weight: 600;
    font-size: 1.1rem;
}
.face-foot{
    width: 100%;
    /* background-color: yellow; */
    text-align: center;
}
.face-foot h4{
    color: var(--color-heading);
    text-decoration: underline;
}
.face-foot p{
    color: 	#339900;
    font-weight: 600;
}
.face-foot span{
    color: #ff4545;
}
.face-images{
    width: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
}
.face-images img{
    width: 30%;
    height: 100%;
    object-fit: cover;
    border: 8px solid var(--bg-color);
}
.face-navigation{
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 3rem;
}


@media screen and (max-width: 760px) {
    .face{
        flex-direction: column;
        padding: 2rem;
        gap: 2rem;
    }

    .face-images{
        flex-direction: column;
    }
    .face-images img{
        width: 100%;
    }
    .face-navigation{
        padding: 0;
    }
}