.active {
    border-bottom: 4px solid rgb(95, 93, 226);
  }
  .rectitle {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(43, 30, 132);
    padding-bottom: 0.5rem;
    flex: 1;
    text-align: center;
    cursor: pointer;
  }
  .recording {
   display: flex;
   flex-direction: column;
   
   
   margin: 2rem;
   padding: 1rem;
  }
 .titlecont {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
 }
 .titleheading{
    color: var(--color-heading);
	text-transform: capitalize;
    text-align: center;
    margin-bottom: 2rem;
}
 .videocont{
    display: flex;
    
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 2rem;
 }
 .videoItem{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-wrap: wrap;
  width: 45%;
}
 
 @media (max-width: 600px) {
    .capimg {
      width: 100%; /* Full width */
      height: auto; /* Maintain aspect ratio */
    }
  }
  
  /* Styles for medium screens (tablets) */
  @media (min-width: 601px) and (max-width: 1024px) {
    .capimg {
      width: 45%; /* Half width */
      height: auto;
    }
  }
  
  /* Styles for large screens (desktop) */
  @media (min-width: 1025px) {
    .capimg {
      width: 30%; /* Smaller portion */
      height: auto;
    }
  }