.verifyface{
  /* background-color: red !important; */
  background-color: var(--bg-color);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0 1rem;
  /* background-color: var(--bg-color); */
}

.verifyface-head{
  width: 100%;
  /* background-color: yellow; */
  text-align: center;
}
.verifyface-head h3{
  color: var(--color-heading);
  text-decoration: underline;
}
.verifyface-head p{
  font-size: 1.1rem;
  color: #ff4545;
  font-weight: 600;
}
.verifyface-foot{
  width: 100%;
  /* background-color: yellow; */
  text-align: center;
}
.verifyface-foot h4{
  color: var(--color-heading);
  text-decoration: underline;
}
.verifyface-foot p{
  color: 	#339900;
  font-weight: 600;
}
.verifyface-foot span{
  color: #ff4545;
}
.verifyface-images{
  width: 100%;
  /* background-color: blue; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
.mycarousel{
  width: 80% !important;
  /* background-color: red !important; */
}
#carouselExampleIndicators{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
}
.img-container {
  width: 25rem;
  height: 18.75rem;
  /* border: 8px solid var(--bg-color); */
 
}
.verifyface-images img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  /* margin-right: 1rem; */
  /* border: 8px solid white; */
 
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* margin-right: 1rem; */
  /* border: 8px solid white; */
}

.verifyface-navigation{
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: right;
  justify-content: space-between;
  padding: 0rem 3rem;
}


@media screen and (max-width: 760px) {
  .angle2{
      flex-direction: column;
      padding: 2rem;
      gap: 2rem;
  }

  .verifyface-images{
      flex-direction: column;
  }
  .verifyface-images img{
      width: 100%;
  }
  .verifyface-navigation{
      padding: 0;
  }
}