.feedbackInstr{
    /* background-color: red !important; */
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    /* background-color: var(--bg-color); */
}


.feedbackInstr-container{
    flex: 1;
}

.bar-loader {
    height: 0.3rem;
    width: 100%;
    border-radius: 50%;
    background-color: #1c4b74;
}
.feedbackInstr-head{
    width: 100%;
    /* background-color: yellow; */
    text-align: center;
    margin-top: 5px;
}
.feedbackInstr-head h3{
    color: var(--color-heading);
    text-decoration: underline;
}
.feedbackInstr-head p{
    color: #339900;
    font-weight: 600;
    font-size: 1.1rem;
}
.feedbackInstr-foot{
    width: 100%;
    /* background-color: yellow; */
    text-align: center;
}
.feedbackInstr-foot h4{
    color: var(--color-heading);
    text-decoration: underline;
}
.feedbackInstr-foot p{
    color: 	#ff4545;
    font-weight: 600;
    font-size: 1.1rem;
}
.feedbackInstr-foot span{
    color: #ff4545;
}
.feedbackInstr-images-cont{
    width: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
}
.image-item {
    text-align: center; /* Centers the text and image */
 
  }
.feedbackInstr-images{
    /* width: 30%; */
    height: 100%;
    object-fit: cover;
    border: 8px solid var(--bg-color);
    max-height: 300px;
}
.feedbackInstr-images-cont p {
    font-size: 12px; /* Adjusts font size for descriptions */
    padding: 0;
    margin: 0;
    font-weight: bold;
  }
  .image-title{
    font-size: 18px; /* Adjusts font size for descriptions */
    padding: 0;
    margin: 0;
    font-weight: bold;
    text-decoration: underline;
    
  }
  .right-img{
    color: #339900;
  }
  .wrong-img{
    color: #c00606;
  }

.feedbackInstr-navigation{
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 3rem;
}


@media screen and (max-width: 760px) {
    .feedbackInstr{
        flex-direction: column;
        padding: 2rem;
        gap: 2rem;
    }

    .feedbackInstr-images{
        flex-direction: column;
    }
    .feedbackInstr-images img{
        width: 100%;
    }
    .feedbackInstr-navigation{
        /* padding-right: 0; */
        padding: 0rem;
    }
}