.user-register .logo{
	/* color: black; */
    font-weight: 600;
    color: var(--main-color);
}

.user-register {
	min-height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;
	padding: 2.2rem 0rem;
    /* padding: 1.4rem; */
	/* margin: 1.5rem; */
    /* background-color: red; */
	margin-top: -1rem;
    background-color: var(--bg-color);
}
.title-heading{
    color: var(--color-heading);
}

.user-register .register-form {
	width: 100% !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.8em;
	margin-top: -1.4rem;
	/* background-color: red; */
	/* margin-bottom: -.6rem; */
}

.register-form .input-fields {
	width: 100% !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;
    margin-bottom: 1rem;
	/* background-color: green; */
}

.register-form input {
    /* color: red; */
	width: 25%;
    color: var(--color-navlinks);
	padding: 0.4rem 0.9rem;
	font-size: 1rem;
}

@media screen and (max-width: 760px) {
	.register-form input {
		width: 60%;
	}
}