.audio{
    /* background-color: red !important; */
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
    /* background-color: var(--bg-color); */
}
.audio-head{
    width: 100%;
    /* background-color: yellow; */
    text-align: center;
}
.audio-head h3{
    color: var(--color-heading);
    text-decoration: underline;
}
.audio-head p{
    color: #ff4545;
    font-weight: 600;
    font-size: 1.1rem;
}
.audio-foot{
    width: 100%;
    /* background-color: yellow; */
    text-align: center;
}
.audio-foot h4{
    color: var(--color-heading);
    text-decoration: underline;
}
.audio-foot p{
    color: 	#339900;
    font-weight: 600;
}
.audio-foot span{
    color: #ff4545;
}
.audio-images{
    width: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
}
.audio-images img{
    width: 35%;
    height: 100%;
    object-fit: contain;
    border: 8px solid var(--bg-color);
}
.audio-navigation{
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 3rem;
}


@media screen and (max-width: 760px) {
    .audio{
        flex-direction: column;
        padding: 2rem;
        gap: 2rem;
    }

    .audio-images{
        flex-direction: column;
    }
    .audio-images img{
        width: 100%;
    }
    .audio-navigation{
        /* padding-right: 0; */
        padding: 0rem;
    }
}