.user-register .logo {
	font-weight: 600;
    color: var(--main-color);
}

.user-register {
    min-height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;
    padding: 2rem;
    background-color: var(--bg-color);
}

.user-register .register-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.8em;
	margin-top: -0.6rem;
	margin-bottom: -.6rem;
}

.register-form .input-fields {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* background-color: green; */
	gap: 1em;
    margin-bottom: 1rem;
}

.register-form input {
	width: 30% ;
	color: var(--color-navlinks);
	padding: 0.4rem 0.9rem;
	font-size: 1rem;
}
@media screen and (max-width: 760px) {
	.register-form input {
		width: 60%;
	}
}
