.smartphone{
    /* background-color: red !important; */
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    /* background-color: var(--bg-color); */
}


.smartphone-container{
    flex: 1;
}

.bar-loader {
    height: 0.3rem;
    width: 100%;
    border-radius: 50%;
    background-color: #1c4b74;
}
.smartphone-head{
    width: 100%;
    /* background-color: yellow; */
    text-align: center;
}
.smartphone-head h3{
    color: var(--color-heading);
    text-decoration: underline;
}
.smartphone-head p{
    color: #ff4545;
    font-weight: 600;
    font-size: 1.1rem;
}
.smartphone-foot{
    width: 100%;
    /* background-color: yellow; */
    text-align: center;
}
.smartphone-foot h4{
    color: var(--color-heading);
    text-decoration: underline;
}
.smartphone-foot p{
    color: 	#339900;
    font-weight: 600;
}
.smartphone-foot span{
    color: #ff4545;
}
.smartphone-images-cont{
    width: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
}
.smartphone-images{
    width: 30%;
    height: 100%;
    object-fit: cover;
    border: 8px solid var(--bg-color);
    max-height: 300px;
}

.smartphone-navigation{
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 3rem;
}


@media screen and (max-width: 760px) {
    .smartphone{
        flex-direction: column;
        padding: 2rem;
        gap: 2rem;
    }

    .smartphone-images{
        flex-direction: column;
    }
    .smartphone-images img{
        width: 100%;
    }
    .smartphone-navigation{
        /* padding-right: 0; */
        padding: 0rem;
    }
}