.custom-radio {
    appearance: none;  /* Remove default styling */
    
    border: 1px solid #5880F0; /* Custom border color */
    border-radius: 50%; /* Make it circular */
    width: 20px; /* Define width */
    height: 20px; /* Define height */
    outline: none;
    cursor: pointer;
    position: relative;
    /* display: inline-block; */
    margin-right: 5px;
    padding: 0px;
  }
  
  .custom-radio:checked {
    background-color: #5880F0; /* Filled color */
    border-color: white;
  }
  
  .custom-radio:hover {
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5); /* Glow effect */
  }
  
  .radio-label {
    font-size: 16px;
    cursor: pointer;
    vertical-align: middle;
  }
  .custom-form-check {
    display: flex;
    align-items: center; /* Vertically align radio and label */
  }
  