.warning{
    /* background-color: red !important; */
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 0rem 2rem;
    /* background-color: var(--bg-color); */
}
.warning-heading{
    color: var(--color-heading);
}
.warning-content p{
    color: var(--color-text);
    font-weight: 500;
    font-size: 1.2rem;
}
.warning-content span{
    color: #ff4545;
}