.navbar{
    width: 100%;
    height: 50px;
    background-color: var(--main-color);
    border-bottom: 1px solid #75717144;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px !important;
    font-family: var(--font-family);
    color: white;
    position: fixed !important;
    top: 0;
    z-index: 10;
    /* margin-bottom: 50px; */
}
.logo{
    letter-spacing: 3px;
    font-size: 1.2rem;
}
.webcam{
    display: flex;
    align-items: center;
    justify-content: center;
}
.timer{
    /* height: 100%; */
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.4rem;
}
.endtest-btn{
    /* margin-right: 0.8rem; */
    background-color: var(--color-heading);
    padding: 0.3rem 0.9rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.fullscreen-btn{
    background-color: rgb(203, 78, 78) ;
    padding: 0.3rem 0.9rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.endtest-btn:active{
	transform: scale(0.7);
}

@media screen and (max-width: 760px) {
    .navbar{
        padding: 0px 10px !important;
    }
    .logo{
        font-size: 0.9rem;
    }
    .timer{
        gap: 0.8rem;
    }
}
