.detail-result-screen .logo  {
	font-weight: 600;
    color: var(--main-color);
    font-family: var(--font-family);
}
.detail-result-screen {
	min-height: 100vh;
    width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
    padding: 1rem 0;
	gap: 1em;
	/* margin-top: -1rem; */
    background-color: var(--bg-color);
   
    /* background-color: red; */
}
.title-heading{
    color: var(--color-heading);
	text-transform: capitalize;
}

.detail-result-screen .detail-result-dashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;
    width:90%;
    /* height: 100vh; */
    cursor: pointer;
	padding: 0.8rem;
    background-color: white;
    margin-bottom: 2rem;
}

