.home_screen{
    width: 100%;
    height: 100vh;
}
.navbar{
    color: white !important;
}
.home_screen_body{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    color: var(--color-heading);
    font-weight: 500;
}