/* .editor {
  width: 50%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;

} */


/* Editor.css */
.editor-container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Adjust to fill the available space */
  width: 50%;
}

.editor {
  
  height: 50vh;
  width: 100%;
}
