.result_area{
    width: 100%;
    height: 80%;
    background-color: white;
    outline: none;
    border: none;
    resize: none;
    padding: 0.6rem;
    font-size: 0.9rem;
    border-radius: 8px;
    overflow: scroll;
    border: 1px solid var(--color-heading) !important;
}