.result-screen .logo  {
	font-weight: 600;
    color: var(--main-color);
    font-family: var(--font-family);
}
.result-screen {
	min-height: 100vh;
    width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
    padding: 1rem 0;
	gap: 1em;
	/* margin-top: -1rem; */
    background-color: var(--bg-color);
   
    /* background-color: red; */
}
.title-heading{
    color: var(--color-heading);
	text-transform: capitalize;
}

.result-screen .result-dashboard {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	/* gap: 1em; */
    width:90%;
    /* height: 100vh; */
	/* padding: 0.8rem; */
    /* background-color: yellow; */
}
.candidate-items {
    /* padding: 1rem; */
	display: flex;
    align-items: center;
    /* gap: 1rem; */
    justify-content: space-between;
    width: 100% !important;
    /* background-color: blue; */
    /* height: 100% !important; */
    flex-wrap: wrap;
    overflow-x: scroll;
}
a{
    text-decoration: none !important;
}
.detail-result{
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .candidate-items{
        flex-direction: column;
    }
  }