.body_editor {
  width: 100vw;
  /* height: calc(100vh - 50px); */
  min-height: 50vh;
  background-color: var(--bg-second);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family);
}

.console {
  width: 50%;
  height: 50vh;
  background-color: white;
  /* border-left: 1px solid var(--color-heading); */
  /* background-color: red; */
}

.console_header{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.8rem;
    /* border-bottom: 1px solid #757171a6; */
}

.console_body{
    width: 100%;
    height: calc(100% - 3rem);
    background-color: white;
    /* background-color: var(--color-text); */
    display: flex;
    flex-direction: row;
    align-items: center;
}
.console_body p{
    font-weight: 500;
}

.console_input{
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    padding: 0.6rem;
}
.console_output{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    padding: 0.6rem;
}

.clear_console_btn{
    font-size: 0.8rem;
    outline: none;
    border: none;
    border: 1px solid var(--color-heading);
    border-radius: 5px;
    padding: 2px 6px;
    background-color: white;
    transition: all 0.3s;
}
/* .clear_console_btn:hover{
    background-color: #3636362a;
} */
.code_status {
    padding: 2px 6px;
    background-color:#7BB662;
    color: white;
    font-weight: 400;
    font-size: 14px;
    border-radius: 50px;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    .body_editor {
        width: 100vw;
        height: 150vh;
        flex-direction: column;
        background-color: yellow;
      }
      .problem{
        background-color: gray;
        width: 100% !important;
        height: 50% !important;
        border-bottom: 1px solid #dadada;
        overflow: scroll;
      }
      .problem_header{
        border-bottom: 1px solid #757171a6;
      }
      .editor{
        width: 100% !important;
        height: 50% ;
      }
      .console{
        width: 100%;
      }
      .fullscreen_btn{
        display: none;
      }
  }

