.mcqScreen {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    /* min-height: calc(100vh - 50px); */
    font-family: var(--font-family);
    padding: 2.2rem 0rem;
    background-color: var(--bg-color);
    /* background-color: yellow; */
    margin-top: 2rem;
    
  }
  
  .mcqHead {
    padding: 1rem 2rem;
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* border-bottom: 1px solid var(--color-text);s */
    /* border-bottom: 0.2rem solid var(--color-text); */
  }
  .mcqHead .rightBtn {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .mcqBody {
    display: flex;
    
    justify-content: center;
    width: 90%;
    min-height: 80vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    
    
   
  }
  .mcqQuestion {
    width: 50%;
    height: 100%;
    /* background-color: brown; */
    padding: 2rem;
    overflow-y: auto;
    flex: 1;
  }
  .mcqQuestion .para {
    font-size: 1.1rem;
    color: var(--color-text);
  }
  .mcqOptions {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 2rem;
    overflow-y: auto;
  }
  .mcqOptions .checked {
    border: 2px solid var(--color-heading);
    background-color: var(--main-color);
    color: white;
  }
  
  .mcqOptions h4 {
    color: var(--color-heading);
  }
  .choice {
    color: var(--color-text);
    margin: 1rem 0rem;
    padding: 1rem 0.5rem;
    background-color: white;
    border-radius: 0.4rem;
    border: 2px solid var(--color-text);
    transition: all 0.1s;
    cursor: pointer;
  }
  .choice:hover {
    /* color: var(--main-color); */
    border-color: var(--color-heading);
  }

  .videoContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .webcam {
    width: 80%;
    height: 400px;
  
     
  }
  .video {
    width: 100%;
    height: 100%;
  }                     
  .btnContainer{
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .ctaButton{
    background-color: #5880F0;
    
  }
  .ctaButton:hover {
    background-color: #1c4b74;
  }
  .ctaBtnDisable {
    background-color: white;
    border-color: #1c4b74;
    border: 2px solid #1c4b74;
    color: #5880F0;
  }

  @media screen and (max-width: 768px) {
    .mcqScreen .ctaButton {
      padding: 0.2rem 1rem;
      font-size: 0.97rem;
    }
    .mcqBody {
      flex-direction: column;
      /* width: 100%; */
      padding-bottom: 1rem;
    }
    .mcqQuestion {
      width: 100%;
      height: 30%;
    }
    .mcqOptions {
      width: 100%;
      height: 70%;
    }
    .choice {
      padding: 0.7rem 0.6rem;
    }
    .mcqHead {
      padding: 0.8rem 1rem;
    }
    .mcqHead .rightBtn {
      gap: 0.5rem;
    }
  }
  